<%- include('template/cabecera', {tituloweb: 'Pagina de detalle.'}); %>
<% if (!error) { %>
    <form id="editar" data-id="<%= mascota.id %>">
        <input 
            type="text"
            value="<%= mascota.nombre %>"
            class="form-control my-2"
            name="nombre"
            id="nombreInput"
        >
        <input 
            type="text"
            value="<%= mascota.descripcion %>"
            class="form-control my-2"
            name="descripcion"
            id="descripcionInput"
        >
        <button
            class="btn btn-warning btn-sm"
            type="submit"
        >
            Editar
        </button>
    </form>
    <hr>
    <button
        class="btn btn-danger btn-sm"
        data-id="<%= mascota.id %>"
    >
        Eliminar
    </button>
<% } %>