<%- include('template/cabecera', {tituloweb: 'Inicio EJS'}); %>

<h1>Listado con EJS de Mascotas desde base Mongo</h1>

<div class="container">
  <a class="btn btn-success btn-block my-4" href="/crear">
    Crear nueva Mascota
  </a>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <% if (listaMascotas.length >0 ) { %>
            <th scope="col"> Accion</th>
            <% } %>
          </tr>
        </thead>
        <tbody>
            
            
            <% if (listaMascotas.length >0 ) { %> 
                <% listaMascotas.forEach(element => { %> 
                    
                    <tr>
                      <th scope="row"> <%= element.id %> </th>
                      <td><%= element.nombre %></td>
                      <td><%= element.descripcion %></td>
                      <td>
                        <a
                        
                        class= "btn btn-warning btn-sm"
                        href="mascotas/<%= element.id %>"
                        
                        >Editar
                        </a>
                      </td>
                    </tr>
                    
                
                
                
                <% }) %> 
                <% } %>
            </tbody>
          </table>
    </div>

<%- include('template/footer'); %>